html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  --frame-background: #22252d;
  --toggle-background: #2c303b;
  --toggle-color: #fff;
  --display-text: #fff;
  --button-color: #fff;
  --buttons-bg: #292d36;
  --button-bg: #272b33;
}

body.dark {
  --frame-background: #fff;
  --toggle-background: #f9f9f9;
  --toggle-color: #000;
  --display-text: #292d36;
  --button-color: #22252d;
  --buttons-bg: #f9f9f9;
  --button-bg: #f7f7f7;
}

.background {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculatorFrame {
  background-color: var(--frame-background);
  width: 340px;
  border-radius: 25px;
  color: var(--display-text);
}

/* Dark Light */

#darkLightMode {
  background-color: var(--toggle-background);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  width: 110px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#darkLightMode i {
  display: block;
  padding: 10px;
  font-size: 22px;
  color: var(--toggle-color);
  opacity: 0.2;
  cursor: pointer;
}

.active {
  opacity: 0.9 !important;
}

/* displays */
.miniDisplay {
  height: 50px;
  font-size: 26px;
  text-align: right;
  padding: 20px 30px 5px 30px;
  font-weight: 200;
  letter-spacing: 3px;
}

#display {
  text-align: right;
  height: 50px;
  font-size: 52px;
  padding: 0px 30px;
  font-weight: bold;
  letter-spacing: 3px;
}

/* buttons */
#buttons {
  background-color: var(--buttons-bg);
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 50px 20px 50px;
  border-radius: 25px;
  margin-top: 30px;
}

#buttons button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  justify-self: center;
  font-size: 26px;
  color: var(--button-color);
  background-color: var(--button-bg);
  box-shadow: 2px 3px rgba(0, 0, 0, 0.027);
}

.redColor {
  color: #f37a7a !important;
}

.greenColor {
  color: #26bba2 !important;
}


